html {
    font-size: 150%;
    font-weight: 300;
    font-family: Andale Mono, monospace;
    line-height: 1.4;
}

body {
    display: flex;
    background-image: linear-gradient(236deg, #c9d6ff, #e2e2e2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.calculator {
    flex: 1 0 auto;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    border: 15px solid rgb(28, 28, 28);
    border-radius: 0.5em;
    overflow: hidden;
    margin-top: 4rem;
}

.display {
    background-color: rgb(28, 28, 28);
    color: whitesmoke;
    width: 16rem;
    height: 90px;
    padding: .75rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    font-size: calc(1rem * 1.2 * 1.2);
}

.buttons {
    background-color: rgb(28, 28, 28);
    display: grid;
    grid-template-columns: repeat(4, 108px);
    grid-template-rows: minmax(4rem, auto) repeat(4, 4rem);
    grid-template-areas: 
        "all-clear plus-minus percent divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero decimal equals equals";
}

.buttons > button {
    border: 2px solid rgb(28, 28, 28);
    border-radius: 15px;
    font-family: Andale Mono, monospace;
    font-size: 1rem;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.decimal {
    grid-area: decimal;
}
.all-clear {
    grid-area: all-clear;
}
.plus-minus {
    grid-area: plus-minus;
}
.percent {
    grid-area: percent;
}
.divide {
    grid-area: divide;
}
.multiply {
    grid-area: multiply;
}
.subtract {
    grid-area: subtract;
}
.add {
    grid-area: add;
}
.equals {
    grid-area: equals;
}

[data-type="operator"],
.equals {
    background-color: rgb(255, 149, 0);
    color: whitesmoke;
}

[data-type="operator"]:active,
.equals:active {
    background-color: rgba(255, 149, 0, 0.75);
}

.all-clear,
.plus-minus,
.percent {
    background-color: rgb(212, 212, 212);
}

.all-clear:active,
.plus-minus:active,
.percent:active {
    background-color: rgba(212, 212, 212, 0.75);
}

[data-type="number"],
[data-type="decimal"] {
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
}

[data-type="number"]:active,
[data-type="decimal"]:active {
    background-color: rgba(80, 80, 80, 0.75);
}

.footer {
    margin-top: auto;
    font-size: 0.8rem;
    color: rgb(28, 28, 28);
}

.fa-github {
    color: rgb(28, 28, 28);
    font-size: 0.9rem;
    transition: transform 0.7s ease-in-out;
}

.fa-github:hover {
    transform: rotateY(360deg) scale(1.15);
}